// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
}

.background-image {
  width: 100%;
  height: 250px;
  background-image: url(top.jpg);
  background-size: cover;
  background-position: bottom center;
}